<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light yellow accent-3 ie-nav ptb-3" style="padding-top: 20px; padding-bottom: 20px" [containerInside]="false">
  <mdb-navbar-brand class="nav-media-brand">
    <a class="navbar-brand" routerLink="">
      <img src="/assets/media/logo.png"
        class="nav-media-brand" alt="">
    </a>
  </mdb-navbar-brand>

  <links style="font-size: 1.1rem">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="leistungen" mdbWavesEffect>Leistungen</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light nav-media-1d" routerLink="wohngemeinschaften" mdbWavesEffect>Wohngemeinschaften für Senioren</a>
        <a class="nav-link waves-light nav-media-1" routerLink="wohngemeinschaften" mdbWavesEffect>Wohngemeinschaften</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="about" mdbWavesEffect>Über uns</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" routerLink="aktuelles" mdbWavesEffect>Aktuelles</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item" (click)="openContact()">
        <a class="nav-media-2d nav-link"><mdb-icon fas icon="phone-alt"></mdb-icon>Kontakt</a>
        <a class="nav-media-2 nav-link"><mdb-icon fas icon="phone-alt"></mdb-icon></a>

      </li>
      <li class="nav-item" (click)="openImpressum()">
        <a class="nav-media-3d nav-link"><mdb-icon fas icon="clipboard-list"></mdb-icon>Impressum</a>
        <a class="nav-media-3 nav-link"><mdb-icon fas icon="clipboard-list"></mdb-icon></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
