<div class="page-layout cloudy-knoxville-gradient">
  <mdb-carousel #carousel class="carousel slide" [noPause]="true" [animation]="'slide'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/media/slider/slider-1.jpg" alt="First slide">
      </div>
      <div class="carousel-caption">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/media/slider/slider-2.jpg" alt="Second slide">
      </div>
      <div class="carousel-caption">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/media/slider/slider-3.jpg" alt="Third slide">
      </div>
      <div class="carousel-caption">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/media/slider/slider-4.jpg" alt="Second slide">
      </div>
      <div class="carousel-caption">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="/assets/media/slider/slider-5.jpg" alt="Second slide">
      </div>
      <div class="carousel-caption">
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <main>
      <section>
<!--        <div class="wow fadeIn">
          &lt;!&ndash;Section heading&ndash;&gt;
          <h2 class="h1 text-center pt-2 pb-2 mt-5 mb-5">Überblick</h2>
          &lt;!&ndash;Section description&ndash;&gt;
        </div>-->
          <!--Grid column-->
        <div class="card-deck mt-5 mb-5 ml-3 mr-3">
          <mdb-card>

            <!--Card image-->
            <div class="view overlay waves-light card-img-220" mdbWavesEffect>
              <img src="/assets/media/card/card-home-1.jpg" class="card-img-top" alt="">
              <a routerLink="leistungen"><div class="mask rgba-white-slight"></div></a>
            </div>

            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <a class="activator px-3 mr-2 black-text" routerLink="leistungen">
                <mdb-icon fas icon="layer-group"></mdb-icon>
              </a>

              <!--Title-->
              <mdb-card-title>
                <h4>Leistungen</h4>
              </mdb-card-title>

              <hr>
              <!--Text-->
              <mdb-card-text>
                Die Leistungen erbringen wir rund um die Uhr für alle Mitglieder der Pflege- und
                Krankenkassen sowie Privatzahler und Menschen, für deren Pflegekosten das Sozialamt aufkommt.
                <nobr><a class="black-text" routerLink="leistungen"> <mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon> weiter lesen
                </a></nobr>
              </mdb-card-text>
            </mdb-card-body>
            <div class="text-center align-bottom footer-card">
              <button mdbBtn class="waves-light" style="background-color: #ffea00;" routerLink="leistungen" [rounded]="true" mdbWavesEffect>
                <mdb-icon fas icon="layer-group" class="mr-1"></mdb-icon> Leistungen
              </button>
            </div>
          </mdb-card>
          <mdb-card>
            <!--Card image-->
            <div class="view overlay waves-light card-img-220" mdbWavesEffect>
              <img src="/assets/media/card/card-home-2.jpg" class="card-img-top" alt="">
              <a routerLink="wohngemeinschaften!"><div class="mask rgba-white-slight"></div></a>
            </div>

            <!--Card content-->
            <mdb-card-body>
              <a class="activator px-3 mr-2 black-text" routerLink="wohngemeinschaften">
                <mdb-icon fas icon="home"></mdb-icon>
              </a>

              <!--Title-->
              <mdb-card-title>
                <h4>Senioren-WG</h4>
              </mdb-card-title>

              <hr>

              <mdb-card-text class="text-section">
                Wer in einer Senioren-WG wohnt, die ambulant betreut wird, kann nicht nur von einer fürsorglichen und
                fachkundigen Pflege profitieren. Vielmehr können die Bewohner immer selbst entscheiden ...
                <nobr><a class="black-text" routerLink="wohngemeinschaften"><mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon> weiter lesen
                </a></nobr>
              </mdb-card-text>
            </mdb-card-body>
            <div class="text-center align-bottom footer-card">
              <button mdbBtn class="waves-light" style="background-color: #ffea00" [rounded]="true" [rounded]="true" routerLink="wohngemeinschaften" mdbWavesEffect>
                <mdb-icon fas icon="home" class="mr-1"></mdb-icon>Senioren-WG
              </button>
<!--              <button mdbBtn class="waves-light" size="sm" gradient="peach" [rounded]="true" mdbWavesEffect>
                <mdb-icon fas icon="home" class="mr-1"></mdb-icon>Verfügbarkeit  prüfen
              </button>-->
            </div>
          </mdb-card>
          <mdb-card>
            <!--Card image-->
            <div class="view overlay waves-light card-img-220" mdbWavesEffect>
              <img src="/assets/media/card/card-home-3.jpg" class="card-img-top" alt="">
              <a routerLink="wohngemeinschaften"><div class="mask rgba-white-slight"></div></a>
            </div>

            <!--Card content-->
            <mdb-card-body>
              <a class="activator px-3 mr-2 black-text" routerLink="about">
                <mdb-icon fas icon="users"></mdb-icon>
              </a>

              <!--Title-->
              <mdb-card-title>
                <h4>Über uns</h4>
              </mdb-card-title>

              <hr>

              <mdb-card-text>
                Wir können auf über 15 Jahre der Erfahrung im Pflegebereich zurückblicken und stehen Ihnen mit unserem
                geballten Know-how zur Seite. Unsere examinierten Plegekräften ...
                <nobr><a class="black-text" routerLink="about"><mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon> weiter lesen
              </a></nobr>
              </mdb-card-text>
            </mdb-card-body>
            <div class="text-center align-bottom footer-card">
              <button mdbBtn class="waves-light" style="background-color: #ffea00" [rounded]="true" routerLink="about" mdbWavesEffect>
                <mdb-icon fas icon="users" class="mr-1"></mdb-icon>Über uns
              </button>
            </div>
          </mdb-card>
        </div>
<!--          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="card narrower">

                <div class="view view-cascade">
                  <div id="map-container-google-8" class="z-depth-1-half map-container-5">
                    <iframe src="https://maps.google.com/maps?q=Barcelona&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                </div>

                <div class="card-body card-body-cascade text-center">

                </div>
              </div>
            </div>
          </div>-->
      </section>
  </main>
</div>
