.view {
  max-height: 650px;
}
.card-img-220 {
  max-height: 220px;
}
.page-layout {
  background-color: #ffea00;
}
.card-body .h4 .h6 {
  font-weight: 400 !important;
}
.body {
  font-weight: 400 !important;
}
.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.text-section {
  margin-bottom: 0.5rem ;
}
.footer-card {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.btn {
  margin-top: auto;
}
.card-body {
  padding-bottom: 0.6rem;
}
